.profile-container {
  background-color: #f2f2f2;
}

.profile-details {
  margin-top: 20px;
}
.post-list-item {
  border-top: 1px solid lightgrey;
  padding: 15px;
  list-style-type: none;
}
.profile-card-body{
  margin-left: 50px;
}
.post-list-item:first-child {
  border-top: none;
}
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-picture {
  border: 2px solid #ccc;
}

.username {
  margin-left: 20px;
  font-weight: bold;
  font-size: 25px;
}
.edit-profile-button {
  margin-left: -10px;
}
.edit-profile-button button {
  height: 40px;
  max-width:120px;
}

.profile-field {
  margin-bottom: 10px;
}

.profile-posts {
  justify-content: center;
  border: solid 1px lightgray;
  border-radius: 20px;
}
.profile-label {
  font-weight: bold;
}

.profile-message {
  margin-top: 20px;
  font-weight: bold;
  color: red;
}

.profile-field {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.profile-label {
  width: 280px;
  font-weight: bold;
  font-size: 20px;
}

.profile-input {
  flex: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 0;

  text-align: center;

  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 20px;
}
.profile-card-header {
  width: 1000px;
  margin-bottom: 35px;
}
.edit-profile-button {
  width: 200px;
}
.profile-stat {
  font-weight: bold;
}
.abc {
  margin-left: 500px;
  width: 450px;
  border-radius: 10px;
}
.h1 {
  margin-left: 500px;
}
