.login-innerCard {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: #8ac7db;
  border-radius: 60px;
  padding: 10px;
  height: 30em;
  width: 35em;
  margin-top: 10px;
  margin-left: 90px;
}

input,
select,
button {
  border: none;
  width: 50%;
  height: 8%;
  background-color: rgb(225, 224, 224);
  border-radius: 20px;
}

select {
  color: gray;
  text-align-last: center;
  -ms-text-align-last: center; /* For IE 11 */
}

.profilepic {
  color: gray;
}

.cardbuttons {
  display: flex;
}

input:hover {
  outline: none;
  background-color: lightgray;
}

input[placeholder] {
  text-align: center;
}

.loginbutton {
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  margin: 5px 10px;
}

.nameinput:hover {
  outline: none;
}
@media (max-width: 767px) {
  .login-innerCard {
    max-width: 350px;
  }
}
